nav {
    background-color: black; /* black background */
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* align items to the right */
    align-items: center;
  }
  
  .back-link {
    color: white; /* white text color */
    text-decoration: none;
    margin-right: 1rem; 
    font-size: large;
    background-color: #3e8e41;
    width: 40px;
    padding: 5px ;
  }
  
  .back-link:hover {
    color: #d3f53e; /* Yellow hover color */
    transform: scale(1.1); /* Enlarge the link on hover */
    border-bottom: 2px solid #2d70c7; 
  }

  .mem {
    width: 80rem;
    height: 500px;
    background-color: white;
    margin-left: 50px;
    margin-top: 40px;
  }
  .mem > h1{ margin-left: 570px;
padding-top: 40px;}

 #addmem{
    margin-left: 580px;
    margin-top: 50px;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    background-color: chartreuse;
 }
 #mail{
    width: 308px;
    height: 25px;
    border-radius: 5px ;
    border-color: rgb(224, 224, 206);
 }